@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Inter;
}

@layer utilities {
  .padding-container {
    @apply px-6;
  };

  .flexCenterBetween {
    @apply flex justify-between items-center;
  };

  .flexCenter {
    @apply flex items-center;
  };

  .btn-gray-white {
    @apply border-white bg-gray-90 px-8 py-3 text-white;
  };
  .regular-14 {
    @apply text-[14px] font-[400];
  };
  .regular-14 {
    @apply text-[14px] font-[500];
  };
  .regular-18 {
    @apply text-[18px] font-[400];
  };
  .regular-18 {
    @apply text-[18px] font-[600];
  };
  .regular-20 {
    @apply text-[20px] font-[400];
  };
  .regular-24 {
    @apply text-[24px] font-[400];
  };
  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  };
  .regular-32 {
    @apply text-[32px] font-[400];
  };

  .btn-green-white{
    @apply border-white bg-green-50 rounded-[30px] px-8 py-4 text-white regular-18;
  };

  .btn-transparent-black{
    @apply px-8 py-4 text-black regular-18;
  };

  .bg-img-0{
    @apply  md:right-0 w-screen h-screen absolute bg-cover bg-center  z-10;
  }
}